{{> header }}

    <div class="grid-container" id="contenedor">

    </div>

<script src="js/libs/jquery.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/publico.js"></script>
{{> footer }}